In [2]:
# 0.将数据作存储并且设置前三列为合适的索引  文件名：wind.data
import numpy as np
import pandas as pd
wind = pd.read_csv(r'../exercise_data/wind.data',
                   sep='\s+',
                   parse_dates = [[0,1,2]]) # sep='\s+'作用是： s+可以将tab和多个空格都当成一样的分隔符 而parse_dates就是把列位为 0,1,2的解析为时间类型 并且合并为一列

print(len(wind))
print(wind.head(10))


# 3.对应每一个location，一共有多少数据值缺失
print(wind.isnull().sum())
# 4.对应每一个location，一共有多少完整的数据值
print(wind.notnull().sum())

6574
    Yr_Mo_Dy    RPT    VAL    ROS    KIL    SHA   BIR    DUB    CLA    MUL  \
0 2061-01-01  15.04  14.96  13.17   9.29    NaN  9.87  13.67  10.25  10.83
1 2061-01-02  14.71    NaN  10.83   6.50  12.62  7.67  11.50  10.04   9.79
2 2061-01-03  18.50  16.88  12.33  10.13  11.17  6.17  11.25    NaN   8.50
3 2061-01-04  10.58   6.63  11.75   4.58   4.54  2.88   8.63   1.79   5.83
4 2061-01-05  13.33  13.25  11.42   6.17  10.71  8.21  11.92   6.54  10.92
5 2061-01-06  13.21   8.12   9.96   6.67   5.37  4.50  10.67   4.42   7.17
6 2061-01-07  13.50  14.29   9.50   4.96  12.29  8.33   9.17   9.29   7.58
7 2061-01-08  10.96   9.75   7.62   5.91   9.62  7.29  14.29   7.62   9.25
8 2061-01-09  12.58  10.83  10.00   4.75  10.37  6.79   8.04  10.13   7.79
9 2061-01-10  13.37  11.12  19.50   8.33   9.71  6.54  11.42   7.79   8.54

     CLO    BEL    MAL
0  12.58  18.50  15.04
1   9.67  17.54  13.83
2   7.67  12.75  12.71
3   5.88   5.46  10.88
4  10.34  12.92  11.83
5   7.50   8.12  13.17
6   7.96  13.96  13.79
7  10.46  16.62  16.46
8   9.08  13.04  15.37
9   9.00   8.58  11.83
Yr_Mo_Dy    0
RPT         6
VAL         3
ROS         2
KIL         5
SHA         2
BIR         0
DUB         3
CLA         2
MUL         3
CLO         1
BEL         0
MAL         4
dtype: int64
Yr_Mo_Dy    6574
RPT         6568
VAL         6571
ROS         6572
KIL         6569
SHA         6572
BIR         6574
DUB         6571
CLA         6572
MUL         6571
CLO         6573
BEL         6574
MAL         6570
dtype: int64

In [20]:
# 1.把超过2010年的数据都删除掉
# print(len(wind))
# print(len(wind[wind['Yr_Mo_Dy'].dt.year>2012]))
wind=wind[wind['Yr_Mo_Dy'].dt.year<=2012]
wind

3287
0

,Yr_Mo_Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
3287,1970-01-01,9.59,2.96,11.79,3.42,6.13,4.08,9.00,4.46,7.29,3.50,7.33,13.00
3288,1970-01-02,9.00,4.29,6.75,4.58,5.79,6.58,8.58,6.21,9.59,6.04,10.17,16.96
3289,1970-01-03,8.08,7.46,11.71,3.58,4.50,3.63,5.13,4.75,3.13,2.50,12.54,18.25
3290,1970-01-04,11.21,7.38,11.58,2.13,3.29,1.13,8.92,4.92,5.54,5.71,7.58,15.54
3291,1970-01-05,10.46,5.29,10.83,3.63,4.75,5.29,12.33,5.83,6.79,6.21,11.83,20.21
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6569,1978-12-27,17.58,16.96,17.62,8.08,13.21,11.67,14.46,15.59,14.04,14.00,17.21,40.08
6570,1978-12-28,13.21,5.46,13.46,5.00,8.12,9.42,14.33,16.25,15.25,18.05,21.79,41.46
6571,1978-12-29,14.00,10.29,14.42,8.71,9.71,10.54,19.17,12.46,14.50,16.42,18.88,29.58
6572,1978-12-30,18.50,14.04,21.29,9.13,12.75,9.71,18.08,12.87,12.46,12.12,14.67,28.79
6573,1978-12-31,20.33,17.41,27.29,9.59,12.08,10.13,19.25,11.63,11.58,11.38,12.08,22.08

In [26]:
# 2.将日期设为索引，注意数据类型 
print(wind.dtypes) # 在第一个代码块中就有关于
wind.set_index(wind['Yr_Mo_Dy'])

Yr_Mo_Dy    datetime64[ns]
RPT                float64
VAL                float64
ROS                float64
KIL                float64
SHA                float64
BIR                float64
DUB                float64
CLA                float64
MUL                float64
CLO                float64
BEL                float64
MAL                float64
dtype: object

,Yr_Mo_Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Yr_Mo_Dy,,,,,,,,,,,,,
1970-01-01,1970-01-01,9.59,2.96,11.79,3.42,6.13,4.08,9.00,4.46,7.29,3.50,7.33,13.00
1970-01-02,1970-01-02,9.00,4.29,6.75,4.58,5.79,6.58,8.58,6.21,9.59,6.04,10.17,16.96
1970-01-03,1970-01-03,8.08,7.46,11.71,3.58,4.50,3.63,5.13,4.75,3.13,2.50,12.54,18.25
1970-01-04,1970-01-04,11.21,7.38,11.58,2.13,3.29,1.13,8.92,4.92,5.54,5.71,7.58,15.54
1970-01-05,1970-01-05,10.46,5.29,10.83,3.63,4.75,5.29,12.33,5.83,6.79,6.21,11.83,20.21
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1978-12-27,1978-12-27,17.58,16.96,17.62,8.08,13.21,11.67,14.46,15.59,14.04,14.00,17.21,40.08
1978-12-28,1978-12-28,13.21,5.46,13.46,5.00,8.12,9.42,14.33,16.25,15.25,18.05,21.79,41.46
1978-12-29,1978-12-29,14.00,10.29,14.42,8.71,9.71,10.54,19.17,12.46,14.50,16.42,18.88,29.58
1978-12-30,1978-12-30,18.50,14.04,21.29,9.13,12.75,9.71,18.08,12.87,12.46,12.12,14.67,28.79
1978-12-31,1978-12-31,20.33,17.41,27.29,9.59,12.08,10.13,19.25,11.63,11.58,11.38,12.08,22.08

In [34]:
# 3.对应每一个location，一共有多少数据值缺失
print(wind.isnull().sum())

# 4.对应每一个location，一共有多少完整的数据值
wind.notnull().sum()

Yr_Mo_Dy    0
RPT         6
VAL         3
ROS         2
KIL         5
SHA         2
BIR         0
DUB         3
CLA         2
MUL         3
CLO         1
BEL         0
MAL         4
dtype: int64

Yr_Mo_Dy    6574
RPT         6568
VAL         6571
ROS         6572
KIL         6569
SHA         6572
BIR         6574
DUB         6571
CLA         6572
MUL         6571
CLO         6573
BEL         6574
MAL         6570
dtype: int64

In [42]:
# 5..对于全体数据，计算风速的平均值
wind.mean() # 时间类型

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:2: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.

RPT                      12.362987
VAL                      10.644314
ROS                      11.660526
KIL                       6.306468
SHA                      10.455834
BIR                       7.092254
DUB                       9.797343
CLA                       8.495053
MUL                       8.493590
CLO                       8.707332
BEL                      13.121007
MAL                      15.599079
Year                   2019.500304
January of the year    2019.500304
dtype: float64

In [20]:
# 6.创建一个名为loc_stats的数据框去计算并存储每个location的风速最小值，最大值，平均值和标准差
data = {"mean": wind.mean(), "std": wind.std(), "max": wind.max(), "min": wind.min()}
index=wind.columns
loc_stats = pd.DataFrame(data=data, index=index)
loc_stats.iloc[1:,]  # iloc 和 loc

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:2: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.

          mean       std    max   min
RPT  12.362987  5.618413   35.8  0.67
VAL  10.644314  5.267356  33.37  0.21
ROS  11.660526  5.008450  33.84   1.5
KIL   6.306468  3.605811  28.46     0
SHA  10.455834  4.936125  37.54  0.13
BIR   7.092254  3.968683  26.16     0
DUB   9.797343  4.977555  30.37     0
CLA   8.495053  4.499449  31.08     0
MUL   8.493590  4.166872  25.88     0
CLO   8.707332  4.503954  28.21  0.04
BEL  13.121007  5.835037  42.38  0.13
MAL  15.599079  6.699794  42.54  0.67

In [21]:
# 7.创建一个名为day_stats的数据框去计算并存储所有location的风速最小值
data = {"min": wind.min()}
index=wind.columns
day_stats = pd.DataFrame(data=data, index=index)
day_stats.iloc[1:,]  # iloc 和 loc

      min
RPT  0.67
VAL  0.21
ROS   1.5
KIL     0
SHA  0.13
BIR     0
DUB     0
CLA     0
MUL     0
CLO  0.04
BEL  0.13
MAL  0.67

In [41]:
# 8.对于每一个location，计算一月份的平均风速
def check(s):
    if s.month==1:
        return True
    return False
wind[wind['Yr_Mo_Dy'].apply(check)]
wind['January of the year']=wind['Yr_Mo_Dy'].dt.year
wind.groupby(by='January of the year').mean()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL,Year
January of the year,,,,,,,,,,,,,
1970,12.600329,10.726932,11.730247,6.217178,10.567370,7.609452,9.609890,8.334630,9.297616,8.289808,13.183644,16.456027,1970
1971,11.273123,9.095178,11.088329,5.241507,9.440329,6.097151,8.385890,6.757315,7.915370,7.229753,12.208932,15.025233,1971
1972,12.463962,10.561311,12.058333,5.929699,9.430410,6.358825,9.704508,7.680792,8.357295,7.515273,12.727377,15.028716,1972
1973,11.828466,10.680493,10.680493,5.547863,9.640877,6.548740,8.482110,7.614274,8.245534,7.812411,12.169699,15.441096,1973
1974,13.643096,11.811781,12.336356,6.427041,11.110986,6.809781,10.084603,9.896986,9.331753,8.736356,13.252959,16.947671,1974
1975,12.008575,10.293836,11.564712,5.269096,9.190082,5.668521,8.562603,7.843836,8.797945,7.382822,12.631671,15.307863,1975
1976,11.737842,10.203115,10.761230,5.109426,8.846339,6.311038,9.149126,7.146202,8.883716,7.883087,12.332377,15.471448,1976
1977,13.099616,11.144493,12.627836,6.073945,10.003836,8.586438,11.523205,8.378384,9.098192,8.821616,13.459068,16.590849,1977
1978,12.504356,11.044274,11.380000,6.082356,10.167233,7.650658,9.489342,8.800466,9.089753,8.301699,12.967397,16.771370,1978
2061,12.299583,10.351796,11.362369,6.958227,10.881763,7.729726,9.733923,8.858788,8.647652,9.835577,13.502795,13.680773,2061
2062,12.246923,10.110438,11.732712,6.960440,10.657918,7.393068,11.020712,8.793753,8.316822,9.676247,12.930685,14.323956,2062
2063,12.813452,10.836986,12.541151,7.330055,11.724110,8.434712,11.075699,10.336548,8.903589,10.224438,13.638877,14.999014,2063
2064,12.363661,10.920164,12.104372,6.787787,11.454481,7.570874,10.259153,9.467350,7.789016,10.207951,13.740546,14.910301,2064
2065,12.451370,11.075534,11.848767,6.858466,11.024795,7.478110,10.618712,8.879918,7.907425,9.918082,12.964247,15.591644,2065
2066,13.461973,11.557205,12.020630,7.345726,11.805041,7.793671,10.579808,8.835096,8.514438,9.768959,14.265836,16.307260,2066
2067,12.737151,10.990986,11.739397,7.143425,11.630740,7.368164,10.652027,9.325616,8.645014,9.547425,14.774548,17.135945,2067
2068,11.835628,10.468197,11.409754,6.477678,10.760765,6.067322,8.859180,8.255519,7.224945,7.832978,12.808634,15.017486,2068
2069,11.166356,9.723699,10.902000,5.767973,9.873918,6.189973,8.564493,7.711397,7.924521,7.754384,12.621233,15.762904,2069

In [ ]:
import numpy as np 
import pandas as pd
def check(s):
    if s.month==12 and s.year==1975:
        return True
    return False
path =r'D:\final\wind.data'
df=pd.read_csv(path,sep='\s+',
                   parse_dates = [[0,1,2]])
df=df.drop_duplicates()

a=len(df[df.MUL.isnull()])
b=len(df[df.MAL.isnull()])
c=df['ROS'].mean()
d=df['CLA'].median()
e=df[df['Yr_Mo_Dy'].apply(check)]['BEL'].mean()
p=a*b*c*d*e
y=int(p*1000)**10
y

In [ ]:
# 读取excel文件：超市营业额数据.xsls,将工号修改为字符串类型。把列名“交易额”修改为“营业额”
# 去掉重复的行。
# 对于营业额的缺失的数据，用本人姓名的营业额中位数进行填充。
# 1 求总营业额。设文件所涉及的交易的总营业额为a
# 2 查看每个员工在日期尾数为双数的营业额之和， 设最大的那个营业额之和为b （例如张三在2,4,6...双号日的营业额总和， 李四在在2,4,6...双号日的营业额总和）
# 已知c=int(a*b) 则c的5次方是多少？
import numpy as np 
import pandas as pd
path =r'D:\final\chaoshi.xlsx'
df=pd.read_excel(path,encoding='utf-8')
df=df.drop_duplicates()
def repair(s):
    print(df.groupby(by='姓名').median()[[df['姓名']==s]]['交易额'])
    
    print(s)
    return 0
df[df.交易额.isnull()]['姓名'].apply(repair)

# df